@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

$font-poppins: 'Poppins', sans-serif;

@mixin fontStyle ($size , $weight , $color){
    font-size: $size;
    font-weight: $weight;
    color: $color;
}